[2018-04-19 08:25] zjzh opened #2 "test java container class"
I read your wiki ,know SPF can do Test input generation for Java container classes,but I want to know how you generate test cases,can you recommand me a paper?
Thank you !

[2018-04-19 16:34] corinus commented on #2
Hi:
You can start with these papers:

Willem Visser, Corina S. Pasareanu, Radek Pelánek:
Test input generation for java containers using state matching. ISSTA 2006: 37-48

Corina S. Pasareanu, Willem Visser, David H. Bushnell, Jaco Geldenhuys, Peter C. Mehlitz, Neha Rungta:
Symbolic PathFinder: integrating symbolic execution with model checking for Java bytecode analysis. Autom. Softw. Eng. 20(3):

[2018-04-19 16:34] #2 closed

[2018-04-20 04:27] zjzh commented on #2
@corinus Thanks for your reply.
I want to ask again,when SPF encounter container class API such as TreeSet.add(E e),how does it handle?

[2018-04-21 00:52] corinus commented on #2
you can take a look at examples/sequences

[2018-05-05 08:00] idiomaticrefactoring opened #3 "some confusion about spf generating test cases."
Hi:
when I set  symbolic.method in *.jpf, it can generate PC constraints and test cases,But it only generate PC constraints include symbolic parameters, don't generate PC constraints  for others branches contained others local variables ,how can it guarantee Branch coverage?
Thank you!

[2018-05-05 08:52] zjzh commented on #3
I guess maybe it based on Jpf-core to guarantee Branch coverage.

[2018-05-06 09:55] zjzh opened #4 "spf run example/TestArray.java encounter exception"
Hi:
**1** When I run spf examples/TestArray.java it occured exception,details is:

Exception in thread "main" java.lang.UnsatisfiedLinkError: gov.nasa.jpf.symbc.Debug.printPC(Ljava/lang/String;)V
	at gov.nasa.jpf.symbc.Debug.printPC(Native Method)

**2**  But when I Verify TestArray.jpf,it can run.But it can't handle `arrList.get(x)_` == 9 and can't generate x<10 [testcase.] How can I know how it

[2018-05-07 11:06] R1kM commented on #4
Hi,

Regarding your first issue, how are you executing TestArray.java? It seems that you are missing the actual definition of the native method getSolvedPC, can you make sure that Java has access to the JNI methods in peers/gov/nasa/jpf/symbc ?

About the second issue, the range of integers is constrained in the configuration file (TestArray.jpf): you have
[code]

[2018-05-15 02:31] zjzh opened #5 "How to use specific symbol to represent calls to some functions."
Hi,

   Recently I use SPF, I want to represent some functions calls with specific symbols to add into PathCondition ,in order to I can handle path Condition later on.
For example express arrlist.get(x)  as Arraylist_Get(X) But I don't know how to do it.

[2018-05-15 02:34] corinus commented on #5
you can take a look at the following for inspiration:
jpf-symbc/src/main/gov/nasa/jpf/symbc/concolic

[2018-05-15 08:00] zjzh commented on #5
Thank you!

I run the example TestMain.java in jpf-symbc/src/main/gov/nasa/jpf/symbc/concolic ,**But it don't occur uninterpreted functions** .I have added  annotation `at` @Concrete("true")Function public static double hash_java(double x) .

this is TestMain.jpf:

target=gov.nasa.jpf.symbc.concolic.TestMain
classpath=${jpf-symbc}/build/main
symbolic.method=gov.nasa.jpf.symbc.concolic.TestMain.tes

[2018-05-22 16:54] corinus commented on #5
Hi:
The code that I indicated is not exactly what you want but you can use it for inspiration.
FunctionExpression would allow you to model some methods in your code with uninterpreted functions.

[2018-05-23 13:04] woshazi opened #6 "java.lang.ClassCastException: gov.nasa.jpf.symbc.arrays.ArrayConstraint cannot be cast to gov.nasa.jpf.symbc.numeric.NonLinearIntegerConstraint"
I am trying to learn how array works with SPF by using the provided array examples and jpf's (e.g., in examples/arrays),  but for each of these examples I get the error

java.lang.ClassCastException: gov.nasa.jpf.symbc.arrays.ArrayConstraint cannot be cast to gov.nasa.jpf.symbc.numeric.NonLinearIntegerConstraint
	at gov.nasa.jpf.symbc.numeric.PCParser.addConstraint(PCParser.java:960)
	at gov.nasa.

[2018-05-23 18:33] R1kM commented on #6
Hi,

Did you clone the current version of the code from Github? When looking at PCParser mentioned in the error trace, l. 929 corresponds to an empty line, and l.960 only contains a single bracket.

This error occurred previously due to a partial merge, but it should have been corrected in the current version

[2018-05-24 02:07] woshazi commented on #6
Thank you ,it works.

[2018-06-05 11:38] woshazi opened #7 "How SPF generate test cases for symbolic arrays"
Hello,
    I run SPF with examples arrays/Arrays.java,it can't generate values for sym arrays` int[] arr` such as new int[]{1,2,3} ,
	however it generate objectref. Can spf have any solutions to generate instance for symbolic arrays?
**For example:**

SPF generates  test cases such as:

[code]
[code]
	.jpf is:
		target = arrays.Arrays
		symbolic.method=arrays.Arrays.check_length(sym#sym)
		search.

[2018-06-05 13:13] woshazi commented on #7
I successfully solve it.

[2018-07-05 00:20] zjzh opened #10 "Linkedlist.contains(x) can't generate test cases"
Hello,
      when I use example/TestArray.java,I found when I replaced  ArrayList  in LinkedList.It can't generate testcases.
     it's my .jpf   and source code:
[code]
public static void testLinkedList(int x) {
	LinkedList<Integer> ll = new LinkedList<Integer>();
	 ll.add(0);
	 if(ll.contains(x)){
		 System.out.println("arrList.contains(x): " ); }
}

[2018-07-09 14:43] JasonPap opened #11 "SPF fails to pass test"
Hi,

I have been trying to compile SPF but `ant test` fails because of the *TestBooleanSpecial1* fails.

I am using the following java version:
[code]

Below is the complete output of the failure:
[code]

I first tried with jpf-core compiled with Gradle and then I tried again after compiling jpf-core with ant but nothing changed.

I also had to slightly modify the build.xml file in order for `ant`

[2018-08-12 15:29] srgiri opened #12 "Error in gov.nasa.jpf.symbc.numeric.solvers.ProblemZ3 class"
Hi,
   I am getting one error:

[code]

when using float and double as method arguments.

I observed if I modify the line# 1120 in ProblemZ3 class
form
[code]
to
[code]
then it works properly. Please check this issue.

Regards,
S R Giri

[2018-08-12 16:11] corinus commented on #12
yes you are right. I will correct.
Corina

[2018-08-13 22:55] corinus commented on #12
This error has been fixed.
Please check.
Thank you,
Corina

[2018-08-13 22:55] #12 closed

[2018-08-16 06:59] srgiri commented on #12
Thank you.

[2018-08-20 11:27] srgiri opened #13 "Does symbc support mocking ?"
Hello,
   If my understanding is correct, then symbc executes the source code in a custom JVM. So if we mock any method using byte code instrumentation (done on default JVM or operating system's JVM), then symbc cannot see the changes.
Is there any way to inform symbc about the mock methods ?

Example:
[code]
If I mock the method 'makeDouble()' and return
[code]
then the test cases would be differ

[2018-08-28 21:51] corinus commented on #13
Hi:
You may look at src/classes or peers which define "models" for different classes (and methods). In particular please look at the java.lang.Math models.
Thanks.

[2018-08-28 21:56] #6 closed

[2018-08-31 11:39] srgiri commented on #13
Hi,
 Thank you for your response. I will check it.

I have another question.
I think unboxing for wrapper classes is not done in jpf-symbc. I am getting exception for statements as below

[code]

Exception:
gov.nasa.jpf.vm.NoUncaughtExceptionsProperty
java.lang.NoSuchMethodError: ?UNKNOWN?.intValue()I

Could you please guide me how to handle such scenarios. How can I generate test cases for such c

[2018-09-28 10:22] JHTaljaard opened #14 "Z3BitvectorIncremental error :: incorrect answer"
Hello,

When I run Z3BitvectorIncremental on an example such as WBS, I do not get the correct results.

Here is the output on the WBS example for reference:
[code]

Hope you can help with this.
Thank you

[2018-09-28 11:15] iremfidandan opened #15 "% operator with mixed-concrete symbolic solving"
% operator is supported by the theory solver that i used (z3 solver). But when i want to do mixed-concrete solving because of other non-linear constraints, i receive an error message like this:

java.lang.RuntimeException: ## Error: BinaryNonLinearSolution solution: l 6506792832578777649 op  %  r 5
	at gov.nasa.jpf.symbc.numeric.BinaryNonLinearIntegerExpression.solution(BinaryNonLinearIntegerExpre

[2018-10-17 07:43] Kogmawzy opened #16 "How to find Symbolic JPF doc"
I clicked the link http://babelfish.arc.nasa.gov/trac/jpf/wiki/projects/jpf-symbc/doc in order to get the document, however, the account and password are needed. So how can I get it ?

[2018-10-17 17:56] corinus commented on #16
Let me update the Wiki page. I should be able to address this by the end of this week.

[2018-10-18 05:31] Kogmawzy commented on #16
Thx a lot . A  case uising Geen solver would be more appreciated.

[2018-10-21 00:01] corinus commented on #16
I copied the doc and you should be able to access it (on the wiki pages). It is old and needs to be updated.

[2018-11-19 20:08] corinus commented on #16
Hi
I have updated the documentation on wiki.

[2018-11-19 20:08] #16 closed

[2018-12-01 02:55] corinus commented on #14
Sorry for answering so late.
what is the configuration you are using?
you should use the following options for incremental solving::

symbolic.dp=z3inc
symbolic.optimizechoices=false
listener = gov.nasa.jpf.symbc.numeric.solvers.IncrementalListener

[2018-12-01 02:55] #14 closed

[2018-12-12 07:04] MaryamAG commented on #11
Hi Jason
What version of SPF builds without error as with latest I am having same error log as yours. Please tell me abt older version of SPF and from where I can get it.

Thanks
Maryam

[2018-12-12 07:13] corinus commented on #11
Hi SPF compiles fine. Please use it I will fix the test.
Corina

[2019-01-08 14:06] JHTaljaard commented on #14
Hello,

Thank you for your reply and effort.

My mistake, I initially forgot to add the details of the configuration, but here it is for clarification:
[code]

I see setting the command: _symbolic.optimizechoices=false_ makes a difference.
The program appears to be working now.

Thank you very much.

[2019-01-25 23:43] maemre opened #27 "SPF crashes on code with exception handlers for calling a method of `null`"
The following code causes SPF to crash (because it tries to get arguments to function call while the caller frame is unrolled? I'm not sure):

[code]

Here is the JPF configuration used:

[code]

Note that the values of `search.depth_limit`, `vm.storage.class`, `search.multiple_errors`,  `symbolic.lazy`, `symbolic.debug`, `symbolic.strings`, `symbolic.dp` do not affect the crash.

Here is the JPF

[2019-01-27 22:51] corinus commented on #27
thanks. i will look.

[2019-03-12 21:54] grzesuav opened #28 "Repositories sync - is it automated ?"
Hi, is sync between babelfish and this github repo automated ? Is there any way to know when sync was performed ?

[2019-03-13 10:51] corinus commented on #28
Hi The version on babelfish is no longer supported.

[2019-03-14 03:39] quadhier commented on #11
@corinus Hi
I have fixed some 'bugs' in the test cases. But I wonder if I fix them correctly. Bugs in test cases arise from the following reasons:
1. The PathCondition string we get from env, use '=' for equality, while, some assertions use '=='.
2. The assertions in the last branch in DoubleTest.java and FloatTest.java assert wrong conditions.
eg.
[code]
3. However, the following one confused me,

[2019-03-28 05:29] BinduAvadhani opened #29 "Ant Build failed"
Hello,
I am not able to build the symbc-master with ant.
At different line numbers of SymbolicInstructionFactory.java errors are found.
After built done the result is as follows.
jpf-symbc-master\src\main\gov\nasa\jpf\symbc\SymbolicInstructionFactory.java:406: error: cannot find symbol
[javac] Note: Recompile with -Xlint:unchecked for details.
    [javac] 100 errors

BUILD FAILED

[2019-03-29 19:05] grzesuav commented on #28
@corinus what about https://babelfish.arc.nasa.gov/trac/jpf/wiki/projects/jpf-symbc ? Is mentioned in readme but actually cannot visit page without log in

[2019-04-12 19:09] letonchanh commented on #29
Hi,
I also encountered this problem yesterday, then followed the instructions here https://verificationglasses.wordpress.com/2017/02/13/installing-java-pathfinder-jpf-for-symbolic-execution/, and it works. You need to install jpf-core first, the instruction is here https://github.com/javapathfinder/jpf-core/wiki/Build,-Test,-Run.

Note that you don't have to change the path of `JUNIT_HOME` in buil

[2019-04-15 16:34] BinduAvadhani commented on #29
Hai,
I tried but still i am not able to build the jpf-symbc-master.
Please help me in this regard.
Regards,
Avadhani Bindu.

On Sat, Apr 13, 2019 at 12:39 AM LE, Ton Chanh <notifications@github.com>
wrote:

[2019-04-16 00:33] corinus commented on #29
Hi:
May I ask if you were able to first install jpf-core?

[2019-04-16 01:24] BinduAvadhani commented on #29
Hello..
Yes I am able to build the jpf core.
Regards
Avadhani bindu.

On Tue, 16 Apr, 2019, 6:03 AM Corina Pasareanu, <notifications@github.com>
wrote:

[2019-04-18 14:43] BinduAvadhani commented on #29
Hello:
I am able to build the jpf-core using ant but
i am unable to build the jpf-core-master using gradle.
When i tried building jpf-core -master with the command "gradle buildJars
--info" it is as follows

*FAILURE: Build failed with an exception.*
** Where:*
*Build file 'C:\Users\Bindu Avadhani\JPF\jpf-core-master\build.gradle'
line: 25*
** What went wrong:*
*A problem occurred evaluating root

[2019-04-28 19:24] violetbingzhe opened #30 "Asking for installing instructions"
Hello,

I am trying to install the jpf-symbc, but I don't have access to the wiki page that is hosting under NASA (https://babelfish.arc.nasa.gov/trac/jpf/wiki/projects/jpf-symbc). Could you please provide an alternative instruction? Thanks!

[2019-04-28 19:31] violetbingzhe commented on #29
Hello,

I am trying to install the jpf-symbc, but I don't have access to the wiki page that is hosting under NASA (https://babelfish.arc.nasa.gov/trac/jpf/wiki/projects/jpf-symbc). Do you guys have an alternative installing instructions? Thanks!

[2019-05-14 15:03] Marvinmw commented on #7
hi, how do you solve it?

[2019-07-01 15:14] nickywilliams opened #33 "SymbolicListener doesn't seem to display path conditions"
Hello
I have just started evaluating SymbolicPathFinder for use in industry. When I use SymbolicListener on  jpf-symbc/doc/Example.java it reports
"No path conditions"
but when I use SymbolicSequenceListener the path conditions are displayed.
This was already reported here:
https://verificationglasses.wordpress.com/2017/02/13/installing-java-pathfinder-jpf-for-symbolic-execution/#comment-27
Could

[2019-08-08 10:09] yannicnoller commented on #33
Hey Nicky,

sorry for the late answer!

The SymbolicListener would print path conditions that observe a property violation / error during symbolic execution, e.g., an exception. The Example program does not include any error, so your output is expected. You can check the code of the class SymbolicListener: the method instructionExecuted has some out-commented code, which would actually also add th

[2019-08-09 12:44] nickywilliams commented on #33
Hi Yannick

Thanks for this answer. I have tried SymbolicListener out on an example with a couple of exceptions and it does show the details (including path condition) for the tests which raise an exception. But unfortunately I am interested in branch coverage and would like to see all the tests generated, even if no exceptions are raised. I am not sure that I will have much time to try reprogramm

[2019-08-22 08:49] yannicnoller commented on #33
Sorry again for the late answer :/

**Regarding q1 and q2:**
Please check out this paper: [Symbolic Arrays in Symbolic PathFinder](https://users.ece.cmu.edu/~afromher/papers/jpf2016-array.pdf). The configuration is also mentioned in the [documentation](https://github.com/SymbolicPathFinder/jpf-symbc/wiki/Documentation).
If you have a fixed length, you can alternatively use a normal array and fill

[2019-10-17 08:17] itnef opened #35 "z3 floating point arithmetic support doesn't seem to work"
The combination
+symbolic.dp=z3 (with the provided version or any other version of z3)
+symbolic.fp=true
doesn't work.

See minimal non-working example (eclipse project) under https://github.com/itnef/symbc_z3_fp_mnwe

The simple verification task fails (stack trace (1) below).

When I try and fix this error (https://github.com/SymbolicPathFinder/jpf-symbc/pull/34), it fails for another reason - t

[2019-12-22 23:24] dah-fari7009 commented on #5
Hello,
I am facing the same problem, I am trying to leave some functions uninterpreted in the final summary. Did you ever figure out how to do this ?

[2019-12-22 23:28] corinus commented on #5
Hi: java.lang.Math functions are handled like that. You can take a look in classes and peers.

[2019-12-22 23:33] dah-fari7009 commented on #5
Thank you !

[2019-12-22 23:48] dah-fari7009 commented on #5
From what I am seeing, I will need to define a separate function to obtain a FunctionExpression object for each method. I am having trouble to understand how and when this operation (generating a FunctionExpression) is triggered.
Also, do you have any idea if there is way for me to obtain this result for any method without having to define a new separate function. I am working without user-defined

[2019-12-23 00:00] corinus commented on #5
You can define a listener that monitors for each method call and perform your calculation for the particular methods that you have in mind.

[2019-12-23 00:19] dah-fari7009 commented on #5
Thank for this answer ! Is this any different from using the concolic listener, since it performs the transformation of a method to a FunctionExpression ?

[2019-12-23 00:26] corinus commented on #5
no it is not pls look at that listener

[2019-12-23 05:00] dah-fari7009 commented on #5
Thank you for your help. Sorry for asking you so many questions, I am very confused since I did not change the original code this has been bugging me for a while now.

For a few days now, I have been running tests with the concolic listener, on a simple file where I annoted one of the function @Concrete("true"). I keep on getting an exception when it tries generating the FunctionExpression, where

[2019-12-23 21:19] dah-fari7009 commented on #5
Shouldn't getArgumentAttrs, getArgumentValues and getArgumentTypeNames all be the same length ? I don't understand why there are not in this case

[2019-12-26 22:01] dah-fari7009 commented on #5
Hi again,

Sorry to bug you but I would just like to know what getArgumentAttrs, getArgumentValues and getArgumentTypeNames are supposed to return. I have looked through the code but could not figure it out

[2019-12-26 22:29] corinus commented on #5
they return argument attributes, values and types (as he names suggest)

[2019-12-27 01:25] dah-fari7009 commented on #5
Hi,
Thank you for the answer. This goes back to my issue where the length of these objects are not the same when I tried running the concolic listener on the example above, which create an exception

[2019-12-28 00:40] dah-fari7009 commented on #5
Hello,

I just wanted tolet you know that I found the problem and fixed the issue that I was having and was wondering if you considered I should make a pull request for it

[2019-12-28 01:18] corinus commented on #5
thank you yes please

[2019-12-28 05:03] dah-fari7009 commented on #5
That's noted. Thank you

[2019-12-31 23:11] dah-fari7009 opened #38 "Match statement with constraints"
Good morning,

I was wondering iif there is a way to know which specific statement in a program generated a given path constraint in the path summaries obtained with Symbolic PathFinder ? Here I mean,
let's say I have this bit of code :

![tesssttt](https://user-images.githubusercontent.com/35702512/71636036-c588ce00-2bdf-11ea-8361-61f60cc0e852.PNG)

I obtain a summary like (val > 2) && val = 3 V

[2020-01-15 09:21] shiatsumat opened #39 "Build Fails by java/lang/Integer.java"
Building by `ant`, I got the following error.
[code]

Simply by removing `jpf-symbc/src/classes/java/lang/Integer.java`, the build became successful.
[code]

I suspect that there is something strange with the source code.

OS: Mac OS
Shell: Fish
Java: Java 1.8.0_241 (I got the same output on Java 12.0.2+10)

[2020-01-15 19:04] corinus commented on #39
Thank you . I will take a look.

[2020-01-15 19:44] #39 closed

[2020-01-25 10:02] dah-fari7009 opened #40 "exception"
Hello,

I am running symbolic execution on an example and for some reason that I can't quite understand I get an ArithmeticException. My code looks like:

double test(double x,double y){
        double a = 3;
        double b = 5/(a*x); //Line 15 throwing the exception
        return b;
    }

Property Violated: PC is constraint # = 0
Property Violated: result is  "java.lang.ArithmeticException: d

[2020-01-25 16:57] corinus commented on #40
this is a bug. i will look into it. thank you.

[2020-01-25 17:19] corinus commented on #40
can you share the configuration file?
the code in DDIV simply checks if the symbolic expression in the denominator can be zero.

[2020-01-25 18:58] dah-fari7009 commented on #40
Thank you !
Here is my config file

target = demo.instrumented.Itest1
symbolic.method = demo.instrumented.Itest1.test(sym#sym)
classpath= /Users/farid/Desktop/Symbolic_Ex_Proj/2019_client_library_equivalence_checking/Implementation/target/classes
symbolic.min_int=-100
symbolic.max_int=100
symbolic.min_long=-100
symbolic.max_long=100
symbolic.min_real=1.0
symbolic.max_real=10.0
symbolic.debug = tru

[2020-01-25 19:21] dah-fari7009 commented on #40
Does the symbolic execution engine take into consideration the values passed to the parameters in the main function ?
I mean do the values used in the DDIV class depend on the parameters given in main, even though the execution is not concolic ?

[2020-01-25 19:54] dah-fari7009 commented on #40
I also tried with a more complicated example:

public static double snippet (double psiC, double bank_ang) {
    double degToRad = 0.017453292519943295;
    double g = 68443.0;
    double rA = Math.pow(vA, 2.0) / Math.tan(bank_ang*degToRad) / g;
return rA;
}

And here, no matter what values I pass in the main I always get a division by zero exception

[2020-01-25 23:45] corinus commented on #40
Hello there were some errors in DDIV.java that I corrected. Please pull and try again.
Also the input configuration shoudl specify min_double not min_real.
Thanks.

[2020-01-25 23:45] #40 closed

[2020-01-26 01:28] dah-fari7009 commented on #40
I understand, thank you very much !

[2020-01-26 01:34] corinus commented on #30
Hi the readme provides the instructions

[2020-01-26 01:34] #30 closed

[2020-01-26 01:34] #33 closed

[2020-01-26 01:35] dah-fari7009 opened #41 "Math.tan not supported"
Good evening,
I am trying to run jpf-symbc on a small example containing math functions but I get an exception:
java.lang.RuntimeException: ## Error: Math.tan not supported
        at gov.nasa.jpf.symbc.numeric.solvers.ProblemGeneral.tan(ProblemGeneral.java:158)
        at gov.nasa.jpf.symbc.numeric.PCParser.getExpression(PCParser.java:327)
        at gov.nasa.jpf.symbc.numeric.PCParser.createDPRe

[2020-01-26 01:35] corinus commented on #29
the instructions are in the readme

[2020-01-26 01:35] #29 closed

[2020-01-26 01:36] corinus commented on #41
what solver are you using?

[2020-01-26 01:38] corinus commented on #38
The PCChoiceGenerator records that information (in method and offset)

[2020-01-26 01:38] #38 closed

[2020-01-26 03:02] dah-fari7009 commented on #41
I am using z3

[2020-01-29 19:39] corinus commented on #41
z3 does not support complex math constraints. you can try using coral.

[2020-01-30 08:58] dah-fari7009 commented on #41
I understand, thank you. I tried with a simplified example with just
`return Math.tan(x)`

And the error I obtain is totally different :
[SEVERE] JPF exception, terminating: exception during instructionExecuted() notification
java.lang.RuntimeException: ## Error: PC not solved!
        at gov.nasa.jpf.symbc.numeric.SymbolicReal.solution(SymbolicReal.java:137)
        at gov.nasa.jpf.symbc.numeric.

[2020-01-30 08:59] dah-fari7009 commented on #41
And I get the same error with coral as well

[2020-01-30 18:52] corinus commented on #41
can you please show the full code of the example and the configuration file.

[2020-01-30 19:42] dah-fari7009 commented on #41
Yes, of course
Here is my code
`package demo.instrumented;

public class Itest2 {
    double test(double x){
        if(x>0) {
            return Math.tan(x);
        }
        return 6;
    }
public static void main(String[] args){
Itest2 temp = new Itest2();
temp.test(0);
}
}`

[2020-01-30 19:44] dah-fari7009 commented on #41
Yes of course,
Here is my code
![Capture](https://user-images.githubusercontent.com/35702512/73484266-d7cc6800-4355-11ea-8124-6779ade6fe15.PNG)

[2020-01-30 19:45] dah-fari7009 commented on #41
And here is my configuration file
target = demo.instrumented.Itest2
symbolic.method = demo.instrumented.Itest2.test(sym)
classpath=target/classes
symbolic.min_int=-100
symbolic.max_int=100
symbolic.min_long=-100
symbolic.max_long=100
symbolic.min_double=1.0
symbolic.max_double=10.0
symbolic.debug = true
symbolic.dp=z3
search.depth_limit=5
listener = gov.nasa.jpf.symbc.SymbolicListener
search.multi

[2020-01-30 21:06] corinus commented on #41
I am sorry I am not able to reproduce the error. May I ask what java version are you using?
Also in the config file please add

symbolic.debug=true

this may help you with debugging

[2020-01-30 21:09] dah-fari7009 commented on #41
I am using Java 8

[2020-01-30 21:11] dah-fari7009 commented on #41
I get the exact same error if I switch to cos or sin

[2020-01-30 21:14] dah-fari7009 commented on #41
Oh, I just realized that the error might I have to do with some custom classes I added to handle uninterpreted functions. Sorry about this :(

[2020-01-30 21:19] #41 closed

[2020-01-30 21:44] dah-fari7009 commented on #41
I tried with the original settings and now I obtain no path conditions while there is clearly a branching

numeric PC: constraint # = 1
5: x_1_SYMREAL < CONST_0.0 -> false

### PCs: total:1 sat:0 unsat:1

numeric PC: constraint # = 1
5: CONST_0.0 = x_1_SYMREAL -> false

### PCs: total:2 sat:0 unsat:2

numeric PC: constraint # = 1
5: x_1_SYMREAL > CONST_0.0 -> true

### PCs: total:3 sat:1 unsat:2

[2020-01-30 22:01] corinus commented on #41
There are path conditions; see all the PCs displays :) seems the listener is broken. I will look into fixing it. For now please use the debug feature.

[2020-01-30 22:02] dah-fari7009 commented on #41
I understand, thank you . By using the debug feature, do you mean adding symbolic.debug = true ?

[2020-01-30 22:17] corinus commented on #41
yes

[2020-01-30 22:25] dah-fari7009 commented on #41
Noted. Thank you for your help

[2020-01-31 17:51] corinus commented on #28
all the code is on github. The Readme has been updated to avoid confusion.

[2020-01-31 17:51] #28 closed

[2020-01-31 19:31] corinus commented on #41
to use the listener you may need to add the following option:

symbolic.optimizechoices=false

I am yet to look into it more carefully -- Corina

[2020-01-31 22:51] dah-fari7009 commented on #41
I will do that. Thank you  )

[2020-02-01 05:34] dah-fari7009 opened #43 "Loops bounding"
Hi,

I was wondering if there is any configuration parameters for bounding loops in JPF-symbc. I looked into search.deph_limit parameter that we can configure in .jpf file but it seems that it is the depth of the symbolic execution trree. For example, if we have two loops, then the first one will be unrolled to the limit depth and the second will never be reached.

[2020-02-02 06:10] dah-fari7009 opened #44 "mixed constraint"
Hello,

Sometimes when doing operations with both integer and double, I get this exxception:
java.lang.RuntimeException: ## Error Z3

        at gov.nasa.jpf.symbc.numeric.solvers.ProblemZ3.mixed(ProblemZ3.java:1062)
        at gov.nasa.jpf.symbc.numeric.PCParser.createDPMixedConstraint(PCParser.java:370)
        at gov.nasa.jpf.symbc.numeric.PCParser.addConstraint(PCParser.java:1110)

Does this m

[2020-02-02 06:12] dah-fari7009 commented on #44
I obtained this result on this line of code
` int signC = 0;
double xC = xC0 + signC*rC* (Math.cos(psiC)-Math.cos(psiC+dpsiC));`

Is it specific to nonlinear arithmetic ?

[2020-02-17 12:32] Alim9100 opened #45 "Error in executing examples"
hello
I wanted to run some examples in the src/examples. but an error issues every time. can u help?

[Console output redirected to file:C:\Users\ASUS\Desktop\output]
[WARNING] unknown classpath element: C:\Users\ASUS\Desktop\JPF\jpf-symbc\build\jpf-symbc-classes.jar
[WARNING] unknown classpath element: C:\Users\ASUS\Desktop\JPF\jpf-core\build\jpf-classes.jar
[WARNING] unknown classpath element: C

[2020-02-17 23:20] corinus commented on #45
Hi:
There are some warnings:
[WARNING] unknown classpath element: ...
Did you build jpf-core and jpf-symbc correctly?
Did you run ant? The site.properties file should also be set up.

[2020-02-28 06:36] dah-fari7009 opened #46 "Symbolic arrays"
Good evening,

I am working on examples with symbolic arrays with JPF-symbc. In the reported summaries in the output, the array name is always in this format [I@15b
I just wanted to know if there were any reason why the original name of the array in the code is not kept. Thanks :)

[2020-03-01 12:41] wikumC opened #47 "Support Java 11+ for SPF"
I went through your GSOC project ideas page and found out that you are looking for a prospective student to add java 11+ support for jpf-symbc.  I built [jpf-core](https://github.com/javapathfinder/jpf-core) and [jpf-symbc](https://github.com/SymbolicPathFinder/jpf-symbc) using java 8 and test run some of the examples given. Then I tried to build jpf-symbc using Java 11. First I build jpf-core wit

[2020-03-01 17:01] corinus commented on #47
Yes please

Sent from my iPhone

[2020-03-01 17:11] corinus commented on #47
Hi Yes it would be great.
The BufferedImage is just an example. I can remove it.

[2020-03-02 16:57] wikumC commented on #47
It seems there is only the master branch in this repo. For the movement, I think it will better to create my PR against a new [Java 11 specific branch](https://github.com/javapathfinder/jpf-core/tree/java-10-gradle) like in jpf-core. Maybe we could merge that branch to the master once we fully support Java 11.

Would you be able to create a new branch?

[2020-03-04 17:01] corinus commented on #47
Hi May I ask if you applied to GSoC? Please send me an email directly! Thanks. Corina

[2020-03-11 15:41] wikumC commented on #47
I sent you an email.

[2020-03-11 16:17] corinus commented on #47
I did not receive

[2020-03-12 15:13] wikumC commented on #47
I sent an email to `Corina.S.Pasareanu(at)nasa.gov` on March 07. Can you please recheck? I resent the same email today just make sure.

[2020-03-15 03:17] ranjsa commented on #47
Hi
@corinus are you mentoring for SymbolicPathFinder
I am pursuing my computer science engineering, and I am very good with Java and Algorithms.

I want to contribute in Support of Java 11 for Spf
Since the projects are announced I have solved some issue in jpf-core and getting grip for both the projects jpf -core and spf.

I want to contact with a mentor for discussing further learnings and quest

[2020-03-15 04:36] ranjsa opened #48 "Project Setup for jpf-core and jpf-symbc in IntelliJ-Idea"
@corinus

I successfully built both jpf-core and jpf-symbc project with IntelliJ-IDEA
Can I add documentation for it , As it is not available right now and opening two dependent projects  in intelliJ at same time is something i think we should add in our documentation for further ease of setup for other developers.

Can i work with this ?

[2020-03-15 06:12] corinus commented on #47
Hi Yes I am mentoring for GSoC. Please send a message to corina.pasareanu@west.cmu.edu not to the NASA email. Thank you.

[2020-03-15 07:07] ranjsa commented on #47
@corinus
Okay
Thank you.
I will get back to you soon

[2020-06-07 12:10] Xintao-C opened #51 "no libz3java in java.library.path"
Hi, when I run the example TestArray.jpf,  I got a error "java.lang.UnsatisfiedLinkError: no libz3java in java.library.path". I try to add libz3java.so to java.library.path,but I still got the same error. Can you tell me why? thank you.
![图片](https://user-images.githubusercontent.com/43160698/83968229-4750f600-a8fa-11ea-9037-489dfabdbaee.png)

[2020-06-07 16:26] corinus commented on #51
You should add it to the dynamic library path

Sent from my iPhone

[2020-06-08 03:09] Xintao-C commented on #51
Thank you for your reply.
But My computer running environment is Windows 7, JDK 1.8, How can I set the dynamic library path to point to z3?

best wishes

[2020-06-08 03:19] Xintao-C commented on #4
when I run the example TestArray.jpf, I got a error "java.lang.UnsatisfiedLinkError: no libz3java in java.library.path".  My computer running environment is Windows 7,JDK 1.8, Is there something wrong with me?
![image](https://user-images.githubusercontent.com/43160698/83989719-e5d06c00-a979-11ea-8972-fb008eb0345d.png)

[2020-06-11 09:11] cuixiaoyiyi commented on #51
@Xintao-C
I am puzzled that there is no z3 dynamic library in Windows environment in jpf-symbc. That is, there is no z3.dll in the lib folder. (Maybe there is sth. I don’t know)

You can look for the release version [z3-4.8.8](https://github.com/Z3Prover/z3/releases) required by Windows in the z3 project, and then copy it in the lib directory or your Java environment variable PATH.

That worked fo

[2020-06-11 12:34] Xintao-C commented on #51
@cuixiaoyiyi
Thank you.
I will try to work as you,  I hope it works.

[2020-07-14 16:57] dah-fari7009 opened #53 "symbolic arrays in SymbolicListener"
Good morning,

When returning a symbolic array, I get the following exception with SymbolicListener
![image](https://user-images.githubusercontent.com/35702512/87453923-1f6b4700-c5b8-11ea-983c-e281aaac730e.png)

I checked the indicated line and it contained:
`ARETURN areturn = (ARETURN) insn;
IntegerExpression returnAttr = (IntegerExpression) areturn.getReturnAttr(ti);`

Shouldn't it be `  ARETURN

[2020-07-14 17:00] dah-fari7009 commented on #53
Additionally, the name of the symbolic array is ` java.lang.ClassLoader@1` which gives me no information about the type of the elements.

Is there a reason why it is not in the format `[I@15c` like concrete arrays ?

[2020-07-14 18:19] dah-fari7009 commented on #53
Follow up :
Here is the example, in case you would like to reproduce the described issues:

    public static int[] snippet(int[] array,int x)
    {
        int w = 100;
        if(x > 0){
            array[0] = x;
            array[1] = x + array[0];
        }
        return array;
    }

[2020-07-17 20:00] #46 closed

[2020-09-17 07:14] malionet-sarka opened #55 "Testing for long type symbolization"
Hi
 I run the tests TestBitwiseLOR.jpf, but I am not able to switch the branching.
It uses the latest versions of jpf-core and jpf-symbc.

TestBitWiseLOR.jpf:
[code]

TestBitwiseLOR.java:
[code]

result:
[code]

Is this working correctly?
My assumption is that the second constraint resolution will output `Branch one`.
By the way, I can get the expected result by setting the variables used in TestB

[2020-10-13 17:58] unshorn opened #56 "Option symbolic.lazy.subtypes not working for the examples in doublyNested and lazyInit/paramAndPoly"
Is the option symbolic.lazy.subtypes no longer supported?
The examples in doublyNested don't work, and the code for the ALOAD instruction suggest they don't. Has this feature been dropped?

[2020-12-20 19:40] ThanoshanMV commented on #47
Hi, does this issue still open?

[2020-12-20 19:41] ThanoshanMV commented on #47
Hi, is this issue still open?

[2020-12-22 13:24] tusharrai2017 commented on #56
What is the error you are getting ? Since the example in doublyNested is working fine for me.

[2021-03-21 12:29] nkrishnasatvik opened #59 "README jpf-core download link not working"
I tried to download jpf-core through link https://github.com/yannicnoller/jpf-core/tree/0f2f2901cd0ae9833145c38fee57be03da90a64f given under Getting Started in the README file. But it doesn't seem to work.

Also, why is [this](https://github.com/javapathfinder/jpf-core) repository not used in place of the [current one](https://github.com/yannicnoller/jpf-core/tree/0f2f2901cd0ae9833145c38fee57be03d

[2021-03-22 13:22] corinus commented on #59
Hi
The link is still working:
https://github.com/yannicnoller/jpf-core/tree/0f2f2901cd0ae9833145c38fee57be03da90a64f
Can you please try.
Current SPF works with thsi older version of jpf-core.
Thanks.

[2021-03-22 15:34] nkrishnasatvik commented on #59
Yes it's working now. I don't know what issue I was facing earlier.

Thanks @corinus!

[2021-03-22 15:34] #59 closed

[2021-03-24 22:45] unshorn commented on #56
By working do you mean it reaches all three System.out.println calls?

[2021-06-17 07:40] Applonce opened #60 "Missing class"
Hi,

I am getting missing class problems. I am trying to test out the string examples under /src/examples/string at jpf-symbc. There seems to be a missing class for TimingChannelListener. Most of the examples work if this is removed however, I do need the stats for the execution time of the program. In the examples there are 3 different type of listeners which are

listener = gov.nasa.jpf.symbc.se

[2021-07-29 15:10] y553546436 opened #61 "Bash script to setup JPF and SPF in unix-based systems"
Thanks to Yannic's guidance (in [google group discussion](https://groups.google.com/g/java-pathfinder/c/ufuB_bgx9ZM)), I successfully installed and run the SPF from the command line. I wrote a bash script for unix-based system users. I hope this script can help you get started faster.
[code]

[2021-07-29 16:06] y553546436 opened #62 "Running example class TestZ3 only gets one "div by 0" error message"
When running `src/examples/TestZ3.jpf`, I got one error message:
[code]
which is because in the `testMod` method, the concrete value carried by the symbolic argument `y` is 0.

[2021-08-03 03:43] affan commented on #44
Any update on this? I am facing the same issue.

[2021-08-03 03:59] dah-fari7009 commented on #44
@affan, the problem seemed to be indeed with Z3 and nonlinear arithmetic, so I ended up switching to a different solver (coral)

[2021-08-06 07:05] #60 closed

[2021-08-08 09:53] Applonce opened #64 "Is there a smtlib2 syntax conversion java file?"
I would be grateful if there is a smtlib2 syntax conversion code. I am having troubles running latest Z3 onto an example (CRIME from JPF-security in cashew) as SPF reports a solution expression error onto indexof_2_. Hence, i'm trying to convert to smtlib2 but cant seem to find any relevant translators inside SPF's translate folders. Do let me know if there is any.

Thanks,

Arun

[2021-12-07 13:34] Marvinmw opened #66 "java.lang.AssertionError: can't find caller stackframe for: invokevirtual java.io.InputStream.read([BII)I"
Hi,
I set up the environments by the script, https://github.com/SymbolicPathFinder/jpf-symbc/issues/61 .
I run the examples, https://github.com/SymbolicPathFinder/jpf-symbc/tree/master/src/examples .
It seems that the environment is set up well.
However, when I run the code  and I get the error,
java.lang.AssertionError: can't find caller stackframe for: invokevirtual [java.io.InputStream.read([BI

[2021-12-16 02:31] cniddodi opened #67 "Some examples don't work out of the box."
The following examples don't execute successfully:

             - perthread/PerthreadExample.jpf

			- [SEVERE] JPF configuration error: class not found gov.nasa.jpf.symbc.symexectree.visualizer.SymExecTreeVisualizerListener
				[SEVERE] JPF terminated

		- strings/DelimSearchz.jpf

			- [SEVERE] JPF configuration error: class not found sidechannel.TimingChannelListener
				[SEVERE] JPF terminate

[2022-07-03 17:36] franck-van-breugel commented on #51
For examples that use Z3, dynamic libraries/shared libraries for Z3 need to be linked.  These libraries can be found in the lib directory of jpf-symbc.  In a Windows 10 PowerShell this can be done by issuing the following command.

 $Env:PATH = "/path/to/lib/directory/of/jpf-symbc/;" + $Env:PATH

[2022-07-28 11:53] 1saacYing commented on #45
Hi Alim, do you settle this problem? I have met it but i still confuse about it. Thanks

[2022-07-28 12:28] yannicnoller commented on #45
Hi @1saacYing, can you mention some more details that allow reproducing your problem? Which java version are you using? How did you set up the site.properties?

We are currently working on updating the README file to make the setup easier. In the meantime, you may find this post here helpful: https://sudsy-spear-592.notion.site/Symbolic-PathFinder-Setup-47fe784d81614f98b4525f260618fa35

[2022-07-28 12:29] #3 closed

[2022-07-28 12:29] #7 closed

[2022-07-28 12:30] #11 closed

[2022-07-28 12:41] yannicnoller commented on #48
@ranjsa please add a PR if you are still keen to contribute

[2022-07-28 12:45] 1saacYing commented on #45
Hello, @yannicnoller ,my java version is jdk-8u121, and I have tried jdk-8u20 which causes "JavaObjectInputStreamAccess cannot be resolved to a type SharedSecrets.java /jpf-core/src/classes/sun/misc" but jkd-8u121 can handle this problem.
I have created a site.properties in
jpf/
     site.properties
     jpf-core/
     jpf-symbc/
     …

the site.properties:
jpf-core = ${user.home}/jpf/jpf-core
jp

[2022-07-28 13:09] yannicnoller commented on #45
Hi @1saacYing! It seems you running simply JPF instead of SPF, so you might want to raise your issue in the jpf-core repository: https://github.com/javapathfinder/jpf-core. Nevertheless, the example works on my setup:

[code]

I am using a later Java version, you also might want to try this.
[code]

[2022-07-28 13:20] 1saacYing commented on #45
Hi, @yannicnoller  I will try your setup. I think the problem might be in eclipse because you use ant.
I still need to run SPF after running JPF successfully and I want to use it in dlfuzz.
Thank you very much

[2022-07-28 13:24] yannicnoller commented on #45
Sure, feel free to let me know if you need more help! I will keep the issue open for now. Eclipse+ant works; my output was produced via Eclipse. We are currently working on an update to Gradle, though.

[2022-07-28 13:59] 1saacYing commented on #45
Hi @yannicnoller, could you tell me the ant version of your setup, because this is my first time using ant, so I'm not familiar with it.

[2022-07-28 23:52] yannicnoller commented on #45
[code]

But I am not sure whether the ant version would make such a difference.

For **Eclipse**: yes, the [post](https://sudsy-spear-592.notion.site/Symbolic-PathFinder-Setup-47fe784d81614f98b4525f260618fa35) shows an example. You select a .jpf file and then run it with the JPF/SPF run-config.

Did you try to run the example from the command line? The post also shows an example. If that works, it

[2022-07-29 14:24] 1saacYing commented on #45
Hello @yannicnoller, I am working on the command line and I have built successful. May I ask you about the code to run the .jpf get the result which you showed me before?

[2022-07-29 14:32] 1saacYing commented on #45
Hi @yannicnoller  I can run .jpf with the JPF/SPF run-config. But eclipse still shows some problem about java version. Could you help me?
![image](https://user-images.githubusercontent.com/91719529/181782458-ce23cd04-462a-4a83-9b49-31183ba164a6.png)

[2022-07-31 07:56] yannicnoller commented on #45
Hi @1saacYing! Which Java version are you using in the Eclipse project configuration? You need to make sure that you also use Java 8.

<img width="399" alt="Screen Shot 2022-07-31 at 15 55 34" src="https://user-images.githubusercontent.com/4292436/182015895-5df228a7-689f-48e3-915b-51f01f137f4d.png">

[2022-07-31 08:08] 1saacYing commented on #45
Hi @yannicnoller , I use java -8 but there are some problem about src/peers.
![image](https://user-images.githubusercontent.com/91719529/182016167-45cfc96a-c0cf-4ea1-96e1-a3096de9b23e.png)
And eclipse shows some errors
![image](https://user-images.githubusercontent.com/91719529/182016286-5cfa4ea4-99a9-4af5-883a-bd9357471f8b.png)

Finally, Could you help me how to run the example in command line, i

[2022-07-31 08:18] 1saacYing commented on #45
I can run a part of examples but some is not successful. For example the examples/TestArray.jpf, which shows no libz3java in java.library.path.
![image](https://user-images.githubusercontent.com/91719529/182016967-2f1a8c62-94aa-45ec-a15e-9df7702a8ea7.png)

[2022-07-31 08:32] yannicnoller commented on #45
That is possible. Not all examples might be functional right now. If you find examples that are not working, please open an issue and I will look into it.

Please check my [post](https://sudsy-spear-592.notion.site/Symbolic-PathFinder-Setup-47fe784d81614f98b4525f260618fa35) for this one; I am explaining how to set the correct path.

I need more info to help here! It works for me.

I cannot reprodu

[2022-07-31 08:48] 1saacYing commented on #45
Hi @yannicnoller, Thank you very much for your reply which really helps me a lot and I'm sorry I didn't see below that you have provided a solution to the library path problem.

Yes. I am not use the latest master, i find it from another author. https://github.com/corinus/neurospf.git. I will try the official version now.

[2022-07-31 09:15] yannicnoller commented on #45
No problem, I am happy to help!

This repository has some additions for the efficient analysis of neural networks. Maybe you first try the latest SPF official version, and then we can figure out what does not work with NeuroSPF, but for that you probably want to open an issue in that specific repository instead of here.

[2022-07-31 09:23] 1saacYing commented on #45
Hi @yannicnoller, I have successfully run the latest SPF official version. And I will try the neuroSPF base on it. your post is amazing !!
Cheers

[2022-07-31 09:48] yannicnoller commented on #45
@1saacYing! Okay, great. Then I will close this issue here now.

[2022-07-31 09:48] #45 closed

[2022-08-10 10:01] Minjuner-97 opened #77 "Can SPF support test case generation for string input?"
Hello~
In order to generate test case ,in progress jpf-symbc, I run the jpf : strings.HelloWorld.jpf.
In results, I can't get the test case ,but only search start.
**So, can SPF support test case generation for string input?**
**the output as follows:**

[WARNING] unknown classpath element: /home/zhou/PROJECTS/tmp/jpf2/jpf-core/build/jpf-classes.jar
Running Symbolic PathFinder ...
symbolic.dp=choc